# Database URL (Prisma connection string)
# For SQLite (Local Proto): "file:../backend/prisma/dev.db"
# For PostgreSQL (Prod): "postgresql://johndoe:mypassword@localhost:5432/akipl_db?schema=public"
DATABASE_URL="file:./dev.db"

# JWT Token Secret (Change in production!)
JWT_SECRET="super-secret-key-for-akipl-contractor-empanelment-system-2026"

# Port to serve the Express API on
PORT=5000
