# Database Connection URL (SQLite for local run, switch to postgresql:// for production)
DATABASE_URL="file:./dev.db"

# JWT Auth Secret Key
JWT_SECRET="super-secret-key-for-akipl-contractor-empanelment-system-2026"

# Port to run the server on
PORT=5000
